.logotype {
  font-family: $font-raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;

  @include for-size(tablet-landscape) {
    margin-right: 88px;
  }
  @include for-size(desktop) {
    margin-right: 93px;
  }
}
.logo {
  color: $primary-text-color;
}
.logo-f {
  color: $white-color;
}
